/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.headshot img {
  width: 35%;
  display: block;
  margin: 25px auto;
}

.silver {
  background-color: silver;
}

.white-jessie {
  color: white;
  /*font-family: "Arial Black", Gadget, sans-serif;*/
}

.link a {
  color: #4e342e;
  text-decoration: none;
}

.icon-block p {
  color: #795548;
}

.about p {
  color: #795548;
}

.about a {
  color: #4e342e;
  text-decoration: none;
}

.right {
  float: right;
}

.projects {
  font-size: 5rem;
  line-height: 2.25rem;
  margin: 0.82rem 0 0.656rem 0; 
}
/*  Image Styling */
.image img{
  display: block;
  height: 200px;
  float: left;
}

.imagebox {
  margin: 0 auto;
  padding: 25px 0px;
}

.imagebox1 {
  width: 950px;
}

.imagebox2 {
  width: 989px;
}

.imagebox3 {
  width: 852px;
}

.imagebox:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.imagebox h3 {
  text-align: center;
  color: #aa2327;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
    height: 400px;
  }
  .imagebox {
    width: auto;
  }
  .group {
    padding-bottom: 25px;
  }
  .group1 {
    width: 450px;
    padding-top: 25px;
    margin: 0 auto;
  }
  .group2 {
    width: 500px;
    margin: 0 auto;
  }
  .group3 {
    width: 523px;
    margin: 0 auto;
  }
  .group4 {
    width: 466px;
    margin: 0 auto;
  }
  .group5 {
    width: 418px;
    margin: 0 auto;
  }
  .group6 {
    width: 434px;
    margin: 0 auto;
  }
  .group:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  h1 {
    font-size: 1.8em;
  }
  .projects {
    font-size: 1.7em;
  }
  .image img {
    width: 95%;
    height: auto;
    padding: 5%;
    margin: 0 auto;
    float: none;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}